
body {
    margin: 0;
    font-family: 'VT323', monospace; 
    color: white;
    overflow-x: hidden; 
    position: relative;
}

#terminal-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 48px,
        rgba(100, 100, 100, 0.3) 48px,
        rgba(100, 100, 100, 0.3) 52px
    ), 
    repeating-linear-gradient(
        0deg,
        transparent,
        transparent 48px,
        rgba(100, 100, 100, 0.3) 48px,
        rgba(100, 100, 100, 0.3) 52px
    );
    z-index: -1;
    animation: move-lines 5s linear infinite;
}


@keyframes move-lines {
    0% { background-position: 0 0; }
    100% { background-position: 52px 52px; }
}


#terminal-container.stop-animation::before {
    animation: none !important;
    display: none !important;
}


#terminal-container, #main-site {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; 
}


#terminal-container {
    position: relative;
    z-index: 2; 
    opacity: 1;
    transform: scale(1); 
}

#terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    position: relative;
    z-index: 2; 
}

#output {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 17px; 
    line-height: 1.5;
    padding: 20px;
    max-width: 80%;
    text-align: left;
    color: #0f0; 
    font-family: 'VT323', monospace;
    z-index: 2; 
}


#main-site {
    display: none; 
    opacity: 0; 
    position: relative;
    z-index: 1;
    transform: translateY(0);
}


spline-viewer {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: -1; 
    pointer-events: none; 
    transform: translateY(-10vh) !important; 
}



#quadrant-buttons {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 999; 
}


.button {
    position: absolute;
    display: inline-block;
    padding: 25px 30px;
    color: #bc13fe;
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: 1.2rem; 
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    pointer-events: auto; 
    z-index: 1000;
}

.button:hover {
    background: #bc13fe;
    color: #050801;
    box-shadow: 0 0 5px #bc13fe,
                0 0 25px #bc13fe,
                0 0 50px #bc13fe,
                0 0 200px #bc13fe;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


.top-left {
    top: 12%; 
    left: 25%; 
}

.top-right {
    top: 12%; 
    right: 25%; 
}

.bottom-left {
    bottom: 23%; 
    left: 25%; 
}

.bottom-right {
    bottom: 23%;
    right: 25%; 
}

.button span {
    position: absolute;
    display: block;
}



.button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #bc13fe);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #bc13fe);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #bc13fe);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #bc13fe); 
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}


section {
    min-height: 100vh;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
    text-align: left;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project a {
    color: #0f0;
    text-decoration: none;
    font-size: 1rem;
}

.project a:hover {
    text-decoration: underline;
}

#intro {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 10vh;
    font-size: 24px;
}

